{% extends 'base.html' %}
{% load app_extra %}


{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Spam is becoming a growing problem for Mastodon instances. This service helps you to block certain email
                addresses during user registration. Simply enter the URL to your Mastodon instance, authorize the app
                and <b>MastoMailBlocker</b> will take care of the rest.
            </p>
            {% show_domain_count %}
        </div>
    </div>
    <div class="px-4 py-5 my-5 border rounded">
        <div class="col-lg-8 mx-auto">
            <div class="text-secondary text-center">
                <p>Just input the URL of your instance. And remember, <strong>you need to be
                        administrator</strong> of this instance. That`s it!</p>
                <p>If you don`t want to use this service anymore, just delete the application on your instance.</p>
            </div>
            <form id="ClientForm" action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="row gy-2 gx-3 align-items-center">
                    <div class="col-auto">
                        <label for="host" class="col-form-label">Client Url</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="host" value="" placeholder="https://you.social">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Authorize</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}